@inject IDataTablesInterop Datatables

<CascadingValue Value="this">
    <table @ref="_tableReference" @attributes=TableAttributes>
        @if (!string.IsNullOrEmpty(SourceUrl))
        {
            @* If SourceUrl is provided, allow for the abbreviated syntax where all we need
            inside the DataTable component is a collection of Column components *@
            <thead>
                <tr>@ChildContent</tr>
            </thead>
        }
        else
        {
            @* We expect a full table structure inside the DataTable component *@
            @ChildContent
        }
    </table>
</CascadingValue>

@code{
    private ElementReference _tableReference;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> TableAttributes { get; set; }

    [Parameter]
    public string SourceUrl { get; set; }

    [Parameter]
    public DataTableOptions Options { get; set; }

    public List<Column> Columns { get; set; } = new List<Column>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Datatables.InitialiseAsync(_tableReference, DataTableOptions.FromComponent(this));
        }
    }
}