@inject DataTablesInterop Datatables

<CascadingValue Value="this">
    <table @ref="TableReference" @attributes=TableAttributes>
        <thead>
            <tr>@ChildContent</tr>
        </thead>
        <tbody></tbody>
    </table>
</CascadingValue>

@code{
    private ElementReference TableReference;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> TableAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string SourceUrl { get; set; }

    [Parameter]
    public DataTableOptions Options { get; set; }

    public List<Column> Columns { get; set; } = new List<Column>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Datatables.InitialiseAsync(TableReference, DataTableOptions.FromComponent(this));
        }
    }
}