@page "/"

<h1>Weather forecast</h1>

<p>This component demonstrates use of a DataTable</p>

<DataTable SourceUrl="sample-data/weather.json" Class="table table-striped table-bordered w-100">
    <Column Title="Date" Data="Date" />
    <Column Title="Temp. (C)" Data="TemperatureC" />
    <Column Title="Summary" ClassName="dt-body-center" Data="Summary" />
</DataTable>